body {
  background-color: black;
}

header {
  color: white;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  margin: 70px;
  background-color: rgb(35, 35, 35);
  width: auto;
  height: 100px;
  padding: 30px;
  border-radius: 20px;
  margin-bottom: 150px;
}

h2 {
  color: white;
  text-align: center;
  margin: 70px;
}

img {
  width: 100%;
}

.solar-system {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 100px;
  color: white;
  text-align: center;
}

.missions {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.mission-card {
  padding: 30px;
  border: 2px solid white;
  box-shadow: 0px 4px 14px;
  color: white;
  text-align: center;
  min-width: 500px;
  margin: 25px;
  border-radius: 20px;
}

.planeta-Mercúrio {
  width: 3%;
  transition: 1s;
}

.planeta-Mercúrio:hover {
  width: 3%;
  transition: 1s;
  transform: scale(1.4);
}

.planeta-Vênus {
  width: 8%;
  transition: 1s;
}

.planeta-Vênus:hover {
  width: 8%;
  transition: 1s;
  transform: scale(1.4);
}

.planeta-Terra {
  width: 10%;
  transition: 1s;
}

.planeta-Terra:hover {
  width: 10%;
  transition: 1s;
  transform: scale(1.4);
}

.planeta-Marte {
  width: 4%;
  transition: 1s;
}

.planeta-Marte:hover {
  width: 4%;
  transition: 1s;
  transform: scale(1.4);
}

.planeta-Júpiter {
  width: 25%;
  transition: 1s;
}

.planeta-Júpiter:hover {
  width: 25%;
  transition: 1s;
  transform: scale(1.4);
}

.planeta-Saturno {
  width: 20%;
  transition: 1s;
}

.planeta-Saturno:hover {
  width: 20%;
  transition: 1s;
  transform: scale(1.4);
}

.planeta-Urano {
  width: 16%;
  transition: 1s;
}

.planeta-Urano:hover {
  width: 16%;
  transition: 1s;
  transform: scale(1.4);
}

.planeta-Netuno {
  width: 14%;
  transition: 1s;
}

.planeta-Netuno:hover {
  width: 14%;
  transition: 1s;
  transform: scale(1.3);
}
